.margenesHorizontales{
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.margenesVerticales{
  padding-top: .5em;
  padding-bottom: .5em;
}

.card{
  position: relative;
  *overflow: hidden;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
}
.shadow-1{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.shadow-2{
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow-3{
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.shadow-4{
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.shadow-5{
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
legend{
  padding: .5em;
}

.menuTable{
  width: 25px;
  display: table-cell;
  text-align: center;
  color: black;
  border-left: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
  border-collapse: collapse;
}

@media (min-width: 768px) {
  .container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
.login{
  max-width: 500px;
  margin: .5em auto;
}
hr{
  margin-bottom: .5em;
}

.form-error{
	border: 1px solid #a94442;
}
.error-message{
    padding: 5px;
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 0px 0px 9px 9px;
}